@import '../common/variables.scss';
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
  text-align: center;
}

.page-header__logo--foto {
  height: 85px;
  text-align: center;
}

.page-header__logo svg {
  width: 226px;
  height: 85px;
}

.page-header__logo-barbershop{
  display: none;
}

.page-header__logo-mustache{
  display: none;
}

.page-header__image {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
  }

  .page-header__logo--foto {
    order: 2;
    width: 100%;
    height: 290px;
    background-image: url("./../images/back-tablet@1x.png");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("./../images/back-tablet@2x.png");
      background-size: 1338px auto;
    }
  }

  .page-header__logo svg {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .page-header__logo-barbershop {
    display: inline-block;
  }

  .page-header__image {
    margin-top: 110px;
  }
}


@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../../images/bg-header@2x.png");
    background-size: 1338px auto;
  }
}


@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo--foto {
    height: 380px;
    background-image: url("./../images/back-desktop.png");
  }

  .page-header__logo svg {
    margin-top: 57px;
  }

  .page-header__logo-mustache{
    display: inline-block;
  }
}



