@font-face{
  font-family: 'PT Sans Narrow', sans-serif;
  src: url("../fonts/PTSansNarrow.eot");
  src: url("../fonts/PTSansNarrow.eot") format("embedded-opentype");
  src: url("../fonts/PTSansNarrow.ttf") format("truetype");
  src: url("../fonts/PTSansNarrow.woff") format("woff");
  src: url("../fonts/PTSansNarrow.woff2") format("woff2");
  src: local(PT Sans Narrow), url("../fonts/PTSansNarrow.ttf");
  font-weight: normal;
  font-style: normal;
}

